<h1>Users index</h1>
<br>
Where are you?
<br>
<div class="clock" data-city="nyc" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %></a><br> <!-- 'data-city' => 'nyc' -->
<li>NY</li></div>
<div class="clock" data-city="london" ><%= image_tag('/assets/clock_temp.jpeg', size: '60') %><br>
<li>London</li></div>
<br>

Weather: 

<div class="weather"></div>
<br>
News:

<div id="news-results"></div>

<br>


