<%= render "layouts/clocks" %>  
 
<h3>Weather:</h3> 
<ul class="weather"></ul>

<h3>News:</h3>
<ul id="news"></ul>

<h3>Photos:</h3>
<ul id="flickr"></ul>

<h3>Twitter:</h3> 
<ul id="twitter"></ul>

<% if logged_in? %>
<% else %>
<% end %> 
