<%= render "layouts/clocks" %>  
 

<div class="weather" style="background-color:red"></div>

<h3>News:</h3>
<ul id="news" style="background-color:green"><p></p></ul>

<h3>Photos:</h3>
<div id="flickr" style="background-color:purple"></div>

<h3>Twitter:</h3> 
<div id="twitter" style="background-color:gray"></div>
