
<div class="container">

<%= render "layouts/clocks" %>  


<div class="grid">

<!-- <div class="API-container-weather"> -->
  <div class="col-md-1 weather-header" id="weather-anchor">
  <center><h4>Weather</h4></center>
  <ul class="weather"></ul>
  </div>
<!-- </div> -->

<!-- <div class="API-container-photos"> -->
  <div class="col-md-4 photos-header" id="photos-anchor">
  <center><h4>Popular Photos</h4><button class="more-photos" data-flickr-num="1">More Photos</button></center>
  <center><ul id="flickr"></ul></center>
  </div>
<!-- </div> -->


  <div class="col-md-9 divider">
  <center><h1>Random text</h1></center>
  </div>

<!-- <div class="API-container-news"> -->
  <div class="col-md-5 news-header" id="news-anchor">
  <center><h4>Headline News</h4></center>
  <ul id="news"></ul>
  </div>
<!-- </div> -->

  <div class="col-md-9 divider">
  <center><h1>Random text</h1></center>
  </div>

<!-- <div class="API-container-tweets"> -->
  <div class="col-md-6 twitter-header" id="tweets-anchor">
  <center><h4>Top Tweets</h4></center>
  <ul id="twitter"></ul>
  </div>
<!--   </div> -->


<!--   <div class="col-md-7">
  <center><h4>Made with love</h4></center>
  </div> -->

<!--   <div class="instructions">
<h2></h2>
</div> -->

  <div class="col-md-9 divider">
  <center><h1>Random text</h1></center>
  </div>

  <div class="col-md-9 about">
  <center><h1>About</h1></center>
<div class="contributors">

  <div class="contributor">
   <div id="amber">
   </div>
      <center><p>Amber</p></center>
      </div>

<div class="contributor">
        <div id="koren">
   </div>
      <center><p>Koren</p></center>
      </div>

      <div class="contributor">
        <div id="ben">
   </div>
     <center> <p>Ben</p></center>
      </div>

      <div class="contributor">
        <div id="ed">
   </div>
     <center> <p>Ed</p></center>
      </div>
  
  </div>
  </div>


</div>
</div>
 


<% if logged_in? %>
<% else %>
<% end %> 




