
<div class="container">

<%= render "layouts/clocks" %>  


<div class="grid">

  <div class="col-md-1 weather-header">
  <center><h4>Weather</h4></center>
  <ul class="weather"></ul>
  </div>

  <div class="col-md-4 photos-header">
  <center><h4>Photos</h4></center>
  <ul id="flickr"></ul>
  </div>


  <div class="col-md-5 news-header">
  <center><h4>Headline News</h4></center>
  <ul id="news"></ul>
  </div>

  <div class="col-md-6 twitter-header">
  <center><h4>Top Tweets</h4></center>
  <ul id="twitter"></ul>
  </div>


</div>
</div>
 
 
<!-- <h3 class="weather-header">Weather:</h3> 
<ul class="weather"></ul>

<h3 class="news-header">News:</h3>
<ul id="news"></ul>

<h3 class="photos-header">Photos:</h3>
<ul id="flickr"></ul>

<h3 class="twitter-header">Twitter:</h3> 
<ul id="twitter"></ul> -->

<% if logged_in? %>
<% else %>
<% end %> 




