<br>
<%= render "layouts/clocks" %>  
 
<h3>Weather:</h3> 
<div class="weather"></div>

<h3>News:</h3>
<ul id="news"></ul>

<h3>Photos:</h3>
<div id="flickr"></div>

<h3>Twitter:</h3> 
<div id="twitter"></div>
