<!-- <div class="container"> -->
<%= render "layouts/clocks" %>  
<!-- <div class="grid"> -->

  <div class="col-md-1 weather-header" id="weather-anchor">
    <center><h4>Weather</h4></center>
    <ul class="weather"></ul>
  </div>

  <div class="col-md-9 divider dividerone">
  </div>

  <div class="col-md-5 news-header" id="news-anchor">
    <center><h4>Headline News</h4></center>
    <div id='news'>
      <ul id="news1" class="col-md-3"></ul>
      <ul id="news2" class="col-md-3"></ul>
    </div>
  </div>

  <div class="col-md-9 divider dividertwo">
  </div>

  <div class="col-md-4 photos-header" id="photos-anchor">
    <center><h4>Popular Photos</h4><button class="more-photos" data-flickr-num="1">More Photos</button></center>
    <center><ul id="flickr"></ul></center>
  </div>

  <div class="col-md-9 divider dividerthree">
  </div>

  <div class="col-md-6 twitter-header" id="tweets-anchor">
    <center><h4>Top Tweets</h4></center>
    <ul id="twitter"></ul>
  </div>

  <div class="col-md-9 divider dividerfour">
  </div>

<%= render "layouts/about" %>
<%= render "layouts/footer" %>

