
function weather1 (location) {
    var WEATHER_API_KEY = "<%=ENV['FORECAST_IO_KEY']%>";

    var lon = location.lon;
    var lat = location.lat;
    var coords = lat+","+lon;

    $('.weather-header').show();
    $('.weather-header h4').show();
    $(".weather").attr("style='opacity:0'");

        var URL = "https://api.darksky.net/forecast/" + WEATHER_API_KEY + "/" + coords;
        
        weather = $.ajax({
            url: URL,
            dataType: 'jsonp',
            success: function (response) {

                var place = response['timezone'];
                var continent = (/.*\//).exec(place)[0].replace("/", "");
                var city = place.replace(/.*\//, "").replace("_", " ");
                var icon = response.currently.icon;
                var formatted_icon = response.currently.icon.toUpperCase().split("-").join("_");

                var locale = city + " | " + continent,
                    temp = parseInt(response['currently']['temperature']),
                    tempc = parseInt((((temp - 32) * 5) / 9)),
                    summary = response['currently']['summary'],
                    precipitation = parseInt(response['currently']['precipProbability']*100);

                var skycons = new Skycons({
                    "color": 'black'});
                $(".weather").html('<p><canvas id="icon1" >'+skycon_anim+'</canvas><br>' + temp + ' °F | ' + tempc + ' °C<br>' + summary + '<br>' + precipitation + '% Chance of Rain</p>');
                switch (icon) {
                    case 'partly-cloudy-night':
                        var skycon_anim = skycons.add("icon1", Skycons.PARTLY_CLOUDY_NIGHT);
                        skycons.color = 'black';
                        break;
                    case 'partly-cloudy-day':
                        var skycon_anim = skycons.add("icon1", Skycons.PARTLY_CLOUDY_DAY);
                        skycons.color = 'gray';
                        console.log("color is: "+skycons.color);
                        break;
                    case 'clear-day':
                        var skycon_anim = skycons.add("icon1", Skycons.CLEAR_DAY);
                        skycons.color = 'yellow';
                        break;
                    case 'clear-night':
                        var skycon_anim = skycons.add("icon1", Skycons.CLEAR_NIGHT);
                        skycons.color = 'black';
                        break;
                    case 'cloudy':
                        var skycon_anim = skycons.add("icon1", Skycons.CLOUDY);
                        skycons.color = 'gray';
                        break;
                    case 'rain':
                        var skycon_anim = skycons.add("icon1", Skycons.RAIN);
                        skycons.color = 'blue';
                        break;
                    case 'sleet':
                        var skycon_anim = skycons.add("icon1", Skycons.SLEET);
                        skycons.color = 'black';
                        break;
                    case 'snow':
                        var skycon_anim = skycons.add("icon1", Skycons.SNOW);
                        skycons.color = 'black';
                        break;
                    case 'wind':
                        var skycon_anim = skycons.add("icon1", Skycons.WIND);
                        skycons.color = 'black';
                        break;
                    case 'fog':
                        var skycon_anim = skycons.add("icon1", Skycons.FOG);
                        skycons.color = 'gray';
                        break;
                };

                skycons.play();

                $(".weather p").animate({

                    left: "+=10",
                }, 700, function() {
                  });
            },
            error: function (response) {
                console.log("Forecast.io API request failed");
            }
        });

}
