.about {
  background-image: url('4.jpg');
  background-attachment: fixed;
  background-size: cover;
  border-bottom: 5px solid white;
  height: 400px;
  width: 100%;
}

.contributors {
  margin: auto;
/*  background: pink;*/
  height: 300px;
  width: 900px;
}

.about p {
/*  height: 200px;*/
  width: 160px;
/*  border-radius: 50%;*/
  background: white;
  padding: auto;
  margin: auto;
  display: inline;
 /* float: left;*/
}

.contributor {
  width: 160px;
  float: left;
  margin: auto;
}

#amber,
#koren,
#ben,
#ed {
  height: 160px;
  width: 160px;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
 /* float: left;*/
}

#amber {
  background-image: url('amber.jpg');
  background-size: cover;
}

#koren {
  background-image: url('klc.jpg');
  background-size: cover;
}

#ben {
  background-image: url('ben.png');
  background-size: cover;
}

#ed {
  
}


