@import url(http://fonts.googleapis.com/css?family=Oswald);

.about {
  background-image: url('4.jpg');
  background-attachment: fixed;
  background-size: cover;
  background: white;
  border-bottom: 5px solid white;
  height: 400px;
  width: 100%;
}

.contributors {
  margin: auto;
  /*background: pink;*/
  margin-top: 20px;
  height: 300px;
  width: 900px;
}

.about p {
/*  height: 200px;*/
  width: 170px;
/*  border-radius: 50%;*/
  background: white;
  padding: auto;
  margin: auto;
  display: inline;
 /* float: left;*/
 color: black;
 font-size: 20px;
 font-family: 'Oswald';
}

.contributor {
  width: 170px;
  float: left;
  margin-left: 45px;
}

#amber,
#koren,
#ben,
#ed {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: 1px solid white;
  background: white;
 /* float: left;*/
}

#amber {
  background-image: url('amber.jpg');
  background-size: cover;
}

#koren {
  background-image: url('klc.jpg');
  background-size: cover;
}

#ben {
  background-image: url('ben.png');
  background-size: cover;
}

#ed {
  background-image: url('ed.png');
  background-size: cover;
  background-position: center;
}


