@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Codystar);

/*stylesheet for clocks*/

* {
  margin: 0;
  padding: 0;
}

.ul-clock {
  position: relative;
  width: 180px; 
  height: 180px; 
  background: url('goldclock1.png');
  background-size: cover;
  list-style: none;
}

.ul-clock:hover {
  /*background: none;*/
  border-radius: 50%;
  border: 2px solid #D60905;
}

.sec, .min, .hour {
  position: absolute;
  width: 20px;
  height: 150px;
  left: 80px;
  top: 15px;
 }

.sec {
  background: url('sechand.png');
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 3;
  background-position: center;
}
   
.min {
  background: url('minhand.png');
  z-index: 2;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
   
.hour {
  background: url('hourhand.png');
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.nyc-clock,
.paris-clock, 
.london-clock,
.hongkong-clock,
.sydney-clock,
.sanfran-clock {
  width: 180px; 
  float: left;
}

.sec li,
.min li,
.hour li {
  width: 180px; 
}

.clock {
  margin-left: 17px;
}

.ul-clock {
  /*background: blue;*/
}

.clock-row h2 {
  width: 180px;
  font-size: 20px;
}

.clock-row {
  /*background: blue;*/
  width: 1000px;
  position: center;
}

#clock-container { 
  /*background: red;*/
}

.instructions h2 {
  font-family: 'Codystar';
  font-size: 45px;
  padding-top: 70px;
  color: #D60905;
}

#clock-container h2 { 
  font-family: 'Codystar';
  font-size: 25px;
}