@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Codystar);
@import url(http://fonts.googleapis.com/css?family=Oswald);

/*stylesheet for clocks*/

* {
  margin: 0;
  padding: 0;
}

.head-container {
  float: left;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  /*width: 1300px;*/
  width: 100%;
  background-image: image-url('1.jpg');
  background-attachment: fixed;
  background-size: cover;
}

h1 {
  color: white;
  font-family: 'Oswald';
  padding-top: 80px;
  font-size: 50px;
}

h6 {
  color: white;
  font-family: 'Oswald';
  padding-bottom: 40px;
  font-size: 15px;
}

.login {
  text-align: center;
  margin: auto;
  padding-top: 300px;
}

.login a {
  color: white !important;
  font-family: 'Arial';
}

.login p {
  width: 150px;
  border: 1px solid white;
  padding: 5px;
}

.col-md-2 {
  padding: 0;
  margin: 0;
}

.ul-clock {
  position: relative;
  width: 180px; 
  height: 180px; 
  border: 2px solid white;
  border-radius: 50%;
  background-size: cover;
  list-style: none;
  transition-property: background;
  transition-duration: .5s;
  /*background: red;*/
}

.ul-clock:hover {
  /*background: none;*/
  border-radius: 50%;
  border: 2px solid red;
  background: white;
  transition-property: background;
  transition-duration: .5s;
}

.sec, .min, .hour {
  position: absolute;
  width: 20px;
  height: 150px;
  left: 80px;
  top: 15px;
 }

.sec {
  background: url('sechand.png');
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 3;
  background-position: center;
}
   
.min {
  background: url('minhand.png');
  z-index: 2;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
   
.hour {
  background: url('hourhand.png');
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.nyc-clock,
.paris-clock, 
.london-clock,
.hongkong-clock,
.sydney-clock,
.sanfran-clock {
  width: 180px; 
  float: left;
}

.sec li,
.min li,
.hour li {
  width: 180px; 
}

.clock {
  /*margin-left: 45px;*/
  /*color: pink;*/
  margin-right: 20px;
  margin-left: 20px;
}

.clock-row h2 {
  width: 180px;
  font-size: 20px;
}

.clock-row {
  /*background: blue;*/
  width: 1200px;
  position: center;
  height: 500px;
  margin: auto;
}

#clock-container { 
  /*background: red;*/
}

.instructions h2 {
  font-family: 'Oswald';
  font-size: 45px;
  padding-top: 70px;
  color: #D60905;
}

#clock-container h2 { 
  font-family: 'Oswald';
  font-size: 25px;
  color: white !important;
}

.new-clock-form {
  position: relative;
  width: 180px; 
  height: 180px; 
  /*background: white;*/
  /*background: url('newclock.png');*/
  /*border: 10px solid #D60905;*/
  border-radius: 50%;
  background-size: cover;
  list-style: none;
}

input {
  width: 300px;
  height: 50px;
  padding: 5px;
  border-radius: 5px;
}




