@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Limelight);

/*stylesheet for clocks*/

* {
  margin: 0;
  padding: 0;
}

.ul-clock {
  position: relative;
  width: 180px; 
  height: 180px; 
  /*margin:0auto;*/
  background: url('romanclock2.png');
  background-size: cover;
  list-style: none;
  }

.sec, .min, .hour {
  position: absolute;
  width: 20px;
  height: 150px;
  /*top: 0px;*/
  /*left: 285px;*/
  left: 80px;
  top: 15px;
 }

.sec {
  background: url('sechand.png');
  background-size: 50%;
  background-repeat: no-repeat;
  z-index: 3;
  background-position: center;
}
   
.min {
  background: url('minhand.png');
  z-index: 2;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
   
.hour {
  background: url('hourhand.png');
  z-index: 1;
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
}

.nyc-clock,
.paris-clock, 
.london-clock,
.hongkong-clock,
.sydney-clock,
.sanfran-clock {
  width: 180px; 
  float: left;
  /*margin-left: 10px;*/
  /*margin: auto;*/
}

.sec li,
.min li,
.hour li {
  width: 180px; 
  /*float: left;*/
}

.clock {
  /*background: pink;*/
  margin-left: 17px;
}

.ul-clock {
/*  background: blue;
  border: 7px solid black;
  border-radius: 50%;*/
}

.clock-row h2 {
  width: 180px;
  font-size: 20px;
}

.clock-row {
  /*background: blue;*/
  /*padding-left: 100px;*/
  width: 1000px;
  position: center;
  /*padding-left: 10px;*/
}

#clock-container { 
  /*margin: auto;*/
  /*background: red;*/
}

#clock-container h2 { 
  font-family: 'Limelight';
  font-size: 25px;
}