/*body {
  background-color: rgb(246,246,246) !important;
}

nav {
  border-color: rgb(246,246,246) !important;
}*/

/******* Dashboard **********/
#dashboard {
  position: fixed;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e7e7e7;
  z-index: 0;
  opacity:0;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  transition-duration: 1.8s;
  pointer-events: none;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#dashboard:target {
  /*opacity:1;*/
  pointer-events: auto;
}

#dashboard > .modal-box {
  width: 1100px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  color: black;
}

/*.dashboard-photo {
  display: inline;
  float: left;
}*/

.close {
  
  color: #fff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 60px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.close:hover { color: #88b7b3; }