/******* Dashboard **********/

/*DASHBOARD*/

.dashboard-photo img {
  width: 150px;
  border-radius: 50%;
}

ul {
  list-style: none;
}

#dashboard {
  position: fixed;
  overflow: scroll;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: #e7e7e7;
  z-index: 0;
  opacity:0;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  transition-duration: 1.2s;
  pointer-events: none;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#dashboard:target {
  /*opacity:1;*/
  pointer-events: auto;
}

#dashboard > .modal-box {
  width: 1100px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  color: black;
}

/*.dashboard-photo {
  display: inline;
  float: left;
}*/

.dashboard-articles {
  float: left;
  margin: 5px;
  height: 195px;
}

.dashboard-photos {

}

.dashboard-tweets {

}


.dashboard-articles li {
    border: 1px solid grey;
    width: 50%;
    height: 100%;
}

.my-article h3 a {
  color: #003399 !important;
  font-family: Oswald;
  font-size: 20px;
  text-align: 
}

.my-article img {
  height: 200px;
  float: left;
  margin: 10px;
}

.dashboard-articles li .remove-article {
  color: black;
  bottom: 0;
  border: 1px solid grey;
  right: 0;
  float: right;
  float: bottom;
}

#dashboard-xlink {
  font-size: 100px;
  color: black;
}

.close {
  color: black;
  line-height: 300px;
  position: absolute;
  right: -12px;
  text-align: center;
  font-size: 200px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.close:hover { color: #88b7b3; }