/******* Dashboard **********/

#dashboard {
  position: fixed;
  overflow: scroll;
  background-color: white;  
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  opacity:0;
/*  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;*/
  transition-duration: 1.2s;
  pointer-events: none;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#dashboard:target {
  /*opacity:1;*/
  pointer-events: auto;
}

#dashboard > .modal-box {
  width: 1100px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  color: black;
}

ul {
  list-style: none;
}

.dashboard-photo {
  width: 100%;
  float: left;
  height: 300px;
  display: block;
}

.dashboard-photo img {
  width: 150px;
  border-radius: 50%;

}

/****** ARTICLES ******/

.col-dashboard-news {
  clear: both;
  width: 90% !important;
  display: block;
  border: 1px solid grey;
  overflow: auto;   
  background-color: #e7e7e7;  
}

.dashboard-articles {
  float: left;
  margin: 5px;
  display: inline-block; 
}

.dashboard-articles li {
    /*border: 1px solid white;*/
    margin: auto;
    padding: 5px;
    height: 160px;
}


.dashboard-articles li h3 {
  height: 20px; 
  display: block;
}

.dashboard-articles li h3 a {
  color: #003399 !important;
  font-family: Oswald;
  font-size: 20px;
  text-align: left !important;
  margin-top: 0 !important;
  float: left;
}


.my-article img {
  height: 120px;
  float: left;
  margin: 10px;
}

.my-article p {
  font-family: 'Oswald';
  font-size: 16px;
  text-align: justify;
  margin-bottom: 0 !important;
}

.dashboard-pubdate {
  margin: 5px;
  font-size: 16px !important;
  display: block !important;
}

.dashboard-articles button {
  float: right;
  float: bottom;
  bottom: 0;
  right: 0;
  margin-bottom: 20px; 
  color: black; 
  border: 1px solid black;  
  display: inline;
  text-wrap: normal;
}

.dashboard-articles button:hover {
  background: #003399;
  border: 1px solid white;
  color: white;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}


/*****************************************/

.col-dashboard-photos, .col-dashboard-tweets {
  width: 45% !important;
  overflow: auto; 
  border: 1px solid grey;
  display: inline-block;
  margin: 0;
}

/****** PHOTOS ******/


.dashboard-photos li {
  height: 150px;
  width: 45%;
  display: inline;
}

.dashboard-photos p {
  display: inline;
}


.dashboard-photos li img {
  height: 100px;
}

.dashboard-photos button {
  position: relative;
  float: right;
  float: bottom;
  bottom: 0;
/*  margin-bottom: 20px;*/ 
  color: black; 
  border: 1px solid black;  
  display: inline;
  text-wrap: normal;
}

.dashboard-photos button:hover {
  background: #003399;
  border: 1px solid white;
  color: white;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}



/****** TWEETS ******/

.dashboard-tweets {
  float: left;
  margin: 5px;
}


.dashboard-tweets li {
  text-align: left;
}

.dashboard-tweets button {
  float: right;
  float: bottom;
  bottom: 0;
  right: 0;
  margin-bottom: 20px; 
  color: black; 
  border: 1px solid black;  
  display: inline;
  text-wrap: normal;
}

.dashboard-tweets button:hover {
  background: #003399;
  border: 1px solid white;
  color: white;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}

/********* CLOSE *************/

#dashboard-xlink {
  font-size: 100px;
  color: black;
}

.close {
  color: black;
  line-height: 300px;
  position: absolute;
  right: -20px;
  text-align: center;
  font-size: 200px;
  top: -20px;
  width: 80px;
  height: 80px;
  text-decoration: none;
}

.close:hover { color: #88b7b3; }