@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Codystar);
@import url(http://fonts.googleapis.com/css?family=Oswald);

a,
a:visited,
a:hover {
  text-decoration: none;
}

h4 {
  font-family: 'Oswald';
  font-size: 40px;
  color: black;
  padding-top: 50px;
}

.entire-container {
  width: 1300px;
  float: center;
  margin: 0;
}

.grid, 
.container {
  width: 100%;
  margin: 0;
  float: left;
}

.container {
  width: 1300px;
  background-image: image-url('1.jpg');
  background-attachment: fixed;
  background-size: cover;
  /*border-bottom: 5px solid white;*/
  height: 100vh;
  margin: 0;

}

.divider {
  /*background: white;*/
  border-bottom: 5px solid white;
  height: 200px;
  width: 100%;
  float: left;
}

.dividerone {
  background-image: url('nyc.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.dividertwo {
    background-image: url('paris.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.dividerthree {
    background-image: url('hongkong.jpg');
  background-attachment: fixed;
  background-size: cover;
}

.dividerfour {
    background-image: url('nyc2.jpg');
  background-attachment: fixed;
  background-size: cover;
}


/*BUTTONS*/

button {
  background: none;
  text-align: justify;
  border: 1px solid white;
  color: rgba(61, 61, 61, 0.8);
  padding: 5px;
  font-family: 'Oswald';
  font-size: 17px;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}

button:hover {
  background: #D60905;
  border: 1px solid red;
  color: white;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}

#new-city {
  text-align: center;
  font-size: 16px;
}
