@import url(http://fonts.googleapis.com/css?family=UnifrakturMaguntia);
@import url(http://fonts.googleapis.com/css?family=Grand+Hotel);
@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(http://fonts.googleapis.com/css?family=Josefin+Slab);
@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Codystar);
@import url(http://fonts.googleapis.com/css?family=Oswald);

a,
a:visited,
a:hover {
  text-decoration: none;
}

h4 {
  font-family: 'Oswald';
  font-size: 40px;
  color: #D60905;
}

.grid, 
.container {
  min-width: 1100px;
  margin: auto;
}

.container {
  width: 100%;
  background-image: url('1.jpg');
    background-attachment: fixed;
  background-size: cover;
  height: 700px;
  border-bottom: 20px solid white;
}

/*.divider {
  background-image: url('2.jpg');
  background-attachment: fixed;
  background-size: cover;
  height: 200px;
  width: 100%;
}*/

/*.API-container-weather,
.API-container-news,
.API-container-tweets,
.API-container-photos, {
  width: 100%;
  border: 2px solid black;
}*/



/*WEATHER*/

/*.API-container-weather {
  background: pink;
  height: 250px;
  overflow: hidden;
  padding: auto;
}*/

.col-md-1 {
  background: white;
  height: 250px;
  width: 100%;
  height: 200px;
  overflow: hidden;
  margin: auto;
  padding: auto;
 /* float: left;*/
/*  border: 10px solid black;*/
/*  margin: 1%;*/
/*  box-shadow: 2px;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

.col-md-1:hover {
  /*background: #DBDBDC;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

.weather {
  /*padding-top: 5%;*/
  /*width: 65%;*/
}

.weather p {
  left: 0;
  margin: 0;
  padding: 0;
  font-family: 'Oswald';
}

#icon1 {
  float: left;
  width: 65%;
  height: 65%;
  margin: 0;
  padding: 0;
}

.weather p {
  font-size: 20px;
}

.weather {
  /*background: blue;*/
}

/*PHOTOS*/

/*.API-container-photos {
  background: green;
<<<<<<< HEAD
  height: 450px;
  overflow: hidden;
  padding: auto;
}*/

.col-md-4 {
  /*background: green;*/
  width: 100%;
  height: 700px;
/*  float: right;*/
  overflow: hidden;
  margin: auto;
  padding: auto;

    background-image: url('2.jpg');
  background-attachment: fixed;
  background-size: cover;
   border-bottom: 20px solid white;

 
/*  border: 10px solid black;
  margin: 1%;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

.col-md-4:hover {
  /*background: #DBDBDC;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

#flickr {
  list-style: none;
}

#flickr h3 a {
  color: #6EA9FC;
  transition-duration: .5s;
  transition-property: color;
}

#flickr h3 a:hover {
  color: black;
  transition-duration: .5s;
  transition-property: color;
}

/*NEWS*/

/*.API-container-news {
  background: blue;
  height: 600px;
  overflow: hidden;
  padding: auto;
}*/
.col-md-5 {
  background: blue;
  height: 600px;
  width: 100%;
  overflow: hidden;
  margin: auto;
  padding: auto;

      background-image: url('3.jpg');
  background-attachment: fixed;
  background-size: cover;
   border-bottom: 20px solid white;

/*  border: 10px solid black;
  margin: 1%;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

.col-md-5:hover {
  /*background: #DBDBDC;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

#news {
  list-style: none;
}

#news h3 {
  font-family: 'Oswald';
  text-align: justify;
}

#news p {
  font-family: 'Oswald';
  font-size: 20px;
  text-align: justify;
}

#news h3 a {
  color: #D60905;
  text-align: justify;
  transition-duration: .5s;
  transition-property: color;
}

#news h3 a:hover {
  color: blue;
  transition-duration: .5s;
  transition-property: color;
}

/*TWITTER*/

/*.API-container-tweets {
  background: green;
  height: 400px;
  overflow: hidden;
  padding: auto;
}*/

.col-md-6 {
  background: pink;
  height: 400px;
  width: 100%;
/*  float: right;*/
  overflow: hidden;
  margin: auto;
  padding: auto;

      background-image: url('4.jpg');
  background-attachment: fixed;
  background-size: cover;
   border-bottom: 20px solid white;
/*  border: 10px solid black;
  margin: 1%;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

.col-md-6:hover {
  /*background: #DBDBDC;*/
/*  transition-duration: .7s;
  transition-property: background;*/
}

#twitter {
  list-style: none;
}

#twitter h3 {
  font-family: 'Oswald';
}

#twitter a,
#twitter a:visited {
  color: #D60905;
  transition-duration: .5s;
  transition-property: color;
}
#twitter a:hover {
  color: blue;
  transition-duration: .5s;
  transition-property: color;
}

/*.col-md-7 {
  background: green;
  height: 100px;
  width: 100%;
  float: right;
  overflow: hidden;
  border: 10px solid black;
  margin: 1%;
}*/

/*BUTTONS*/
button {
  background: none;
  text-align: justify;
  border: 1px solid white;
  color: white;
  padding: 5px;
  font-family: 'Oswald';
  font-size: 17px;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}

button:hover {
  background: #D60905;
  border: 1px solid red;
  color: white;
  transition-duration: .5s;
  transition-property: background, border-color, color;
}

/*DASHBOARD*/
.dashboard-photo img {
  width: 150px;
  border-radius: 50%;
}

ul {
  list-style: none;
}