#more {
  position: fixed;
  overflow: scroll;
  background-color: blue;  
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  opacity:0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  transition-duration: 1.2s;
  pointer-events: none;
  font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#more:target {
  opacity:1;
  /*pointer-events: auto;*/
}

/*#more > .modal-box {
  width: 1100px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 0px;
  color: black;
}*/
