@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Codystar);
@import url(http://fonts.googleapis.com/css?family=Faster+One);

body {
  background: white;
}

nav,
.navbar,
.navbar-inner,
.navbar-default {
  background: white;
  border: none;
}

.navbar-inner {
  border-bottom: 6px double black;
}

.navbar-inner a,
.navbar-inner a:visited,
.navbar-nav a,
.navbar-nav a:visited,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
  margin-top: 5px;
  color: black;
  font-family: 'Questrial';
  font-size: 25px;
  transition-duration: .5s;
  transition-property: color;
}

.navbar-inner a:hover,
.navbar-nav a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #D60905;
  transition-duration: .5s;
  transition-property: color;
}

nav input {
  border: 1px solid black;
  font-family: 'Questrial';
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 20px;
  padding-left: 30px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

