@import url(http://fonts.googleapis.com/css?family=Limelight);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Codystar);
@import url(http://fonts.googleapis.com/css?family=Didact+Gothic);

html,
body {
  background: white;
  margin: 0;
  padding: 0;
}

nav,
.navbar,
.navbar-inner,
.navbar-default,
.navbar-default .navbar-collapse,
.navbar-collapse {
  border-radius: 0px;
  background: none;
  border: none;
}

nav,
.navbar-default {
  height: 0;
}

.navbar-inner a,
.navbar-inner a:visited,
.navbar-nav a,
.navbar-nav a:visited,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:visited {
  margin-top: 5px;
  color: white;
  font-family: 'Didact Gothic';
  font-size: 16px;
  transition-duration: .5s;
  transition-property: color;
}

.navbar-inner a:hover,
.navbar-nav a:hover,
.navbar-default .navbar-nav > li > a:hover {
  color: #D60905;  
  transition-duration: .5s;
  transition-property: color;
}

nav {
  width: 100%;
  position: fixed;
  z-index: 4;
  display: none;
  background: none;
  border-radius: 0px;
  border: none;
}

.navbar-inner {
  border-radius: 0px;
  border: none;
  background: rgb(1, 18, 25);  /*Fall-back for browsers that don't support rgba */
  background: rgba(1, 18, 25, .85);
}

nav input {
  /*border: 1px solid black;*/
  /*font-family: 'Didact Gothic';*/
  /*font-size: 15px;*/
  /*padding-left: 30px;*/
  /*padding-top: 5px;*/
  /*line-height: 1.5;*/
}

body#scroll a#weather-anchor {
  color: red;
  background: pink;
}

