#flickr {
  margin-bottom: 15px;
}


/*.photos-header h4 {
  background-color: rgba(250,250,250, 0.3);
}
*/
.more-photos {
  /*float:right;*/
}

#flickr .photo {
  /*background-color: rgba(61, 61, 61, 0.8);*/
  background-color: rgba(250,250,250, 0.6);
  float:left;
  position: relative;
  max-width: 280px;
  margin: 10px;
  border: 4px solid black;
}

#flickr img {
  /*max-width: 300px;*/
  height: 160px;
  margin: auto;
}

.save-photo {
  position: absolute;
  left: 0;
  bottom: 0;
  margin-left: 15px;
  margin-bottom: 15px;
  color: rgba(250,250,250, 0.6);
}

.save-photo:hover, .more-photos:hover {
  background-color: rgba(61, 61, 61, 0.9);
  border-color: rgba(61, 61, 61, 0.8);
  color: #fff;
}