/*TWITTER*/

.col-md-6 {
  background: white;
  width: 100%;
/*  float: right;*/
  overflow: auto;
  margin: 0;
  padding: auto;
/*      background-image: url('4.jpg');
  background-attachment: fixed;
  background-size: cover;*/
   border-bottom: 5px solid white;
}

#twitter {
  list-style: none;
}

#twitter h3 {
  font-family: 'Oswald';
  padding: 10px; 
  font-size: 22px;
}

#twitter a,
#twitter a:visited {
  color: #D60905;
  transition-duration: .5s;
  transition-property: color;
}
#twitter a:hover {
  color: blue;
  transition-duration: .5s;
  transition-property: color;
}

/*.twitter-header {
  background-color: rgba(250,250,250, 0.6);
}*/

/*#twitter {
  background-color: rgba(250,250,250, 0.6);
}*/


.save-tweet {
  margin-left: 15px;
  color: black;
  border-color: black;
  float: right;
  display: inline;
}

.col-md-6 ul li {
  width: 48%;
  height: 175px;
  float: left;
  display: inline;
  text-align: left;
  border: 1px solid grey;
  margin: 5px;
  overflow: hidden;
  /*border-radius: 5px;*/
  padding: 10px;
  padding: auto;
  padding-bottom: 15px;

}

.col-md-6 ul li h3 {
  text-align: left;
}

/*<li><h3>" + tweet + "</h3><button class='save-tweet'>Like</button></li>
tweet = <a href="">some kind of content - either the text, hashtag, handle or text</a>*/


















