/*TWITTER*/

.col-md-6 {
  background: white;
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: auto;
  border-bottom: 5px solid white;
}

#twitter {
  list-style: none;
}

#twitter h3,
.individual-tweet h3 {
  font-family: 'Oswald';
  padding: 10px 10px 0px 10px; 
  font-size: 20px;
  margin-top: 0;
  margin-bottom: 10px;
}

.individual-tweet img {
  width: 100%;
  padding-top: 5px;
}

#twitter1 a,
#twitter1 a:visited,
#twitter2 a,
#twitter2 a:visited,
#twitter3 a,
#twitter3 a:visited,
#twitter4 a,
#twitter4 a:visited {
  color: #D60905;
  transition-duration: .5s;
  transition-property: color;
}
#twitter1 a:hover,
#twitter2 a:hover,
#twitter3 a:hover,
#twitter4 a:hover  {
  color: #003399;
  transition-duration: .5s;
  transition-property: color;
}

.save-tweet {
  margin-left: 10px;
  margin-bottom: 5px;
  color: black;
  border-color: black;
  display: inline;
}

.col-md-6 ul li {
  overflow: auto;
  display: inline;
  text-align: left;
  margin: 5px;
  padding: auto;
  padding-bottom: 15px;

}

.col-md-6 ul li h3 {
  text-align: left;
}

.individual-tweet {
  border: 1px solid grey;
  font-family: 'Oswald';
  padding: 5px;
}

.col-md-6 ul li button {
  background: black;
  color: white;
  display: inline;
}

.col-md-8 {
  padding: 5px;
}

#twitter1,
#twitter2,
#twitter3,
#twitter4 {
  display: inline;
  position: relative;
  width: 24%;
}

#twitter1 {
  margin-left: 10px;
}

#twitter4 {
  margin-right: 10px;
}

