/*WEATHER*/

.col-md-1 {
  background: white;
  /*height: 250px;*/
  width: 100%;
  overflow: auto;
  margin: 0;
  padding: auto;
 /* float: left;*/
/*  border: 10px solid black;*/
/*  margin: 1%;*/
/*  box-shadow: 2px;*/
/*  transition-duration: .7s;
  transition-property: background;*/

}

.weather {
  padding-left: 10%;
  /*padding-top: 5%;*/
  /*width: 265%;*/
}

.weather p {
  left: 0;
  font-family: 'Oswald';
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  position: block;
}

#icon1 {
  float: left;
  width: 32%;
  height: 65%;
  margin: 0;
  padding: 0;
}

.weather {
  /*background: blue;*/
}

