/*WEATHER*/

.col-md-1 {
  background: white;
  overflow: auto;
  padding: auto;
  width: 1300px;
  float: center;
  margin: 0;
}

.weather {
  padding-left: 10%;
}

.weather p {
  left: 0;
  font-family: 'Oswald';
  padding-left: 11%;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

#icon1 {
  float: left;
  width: 25%;
  height: 65%;
  margin: 0;
  padding: 0;
}

.weather {
  /*background: blue;*/
}

