<form action=''>
  <select name='cities'>
    <option value='new+york'>New York</option>
    <option value='london'>London</option>
    <option value='hong+kong'>Hong Kong</option>
    <option value='paris'>Paris</option>
    <option value="sydney">Sydney</option>
  </select>
</form>