<center>
<div class="head-container" id="top">
<h1>worldview</h1>

<p>Click a clock.</p>
  


<div class="row clock-row">
  <div id="clock-container">

    <div class="initial1-clock col-md-2 clock" data-city="initial">
   
    </div>
    <div class="initial2-clock col-md-2 clock" data-city="initial">
      
    </div>
    <div class="initial3-clock col-md-2 clock" data-city="initial">
     
    </div> 
    <div class="initial4-clock col-md-2 clock" data-city="initial">
     
    </div> 
    <div class="initial5-clock col-md-2 clock" data-city="initial">
     
    </div>  

    <% unless logged_in? %> 
      <div class="login">
        <center>
          <p>
            <%= link_to image_tag('twitter.png'), twitter_login_path %><br>
            <%= link_to 'Login with Twitter', twitter_login_path %></p><br><br>
            <div id="invalid_city" style="color:white"></div>
            <form onsubmit="return submit_new_city();" >
              <input type="text" id="new-city" placeholder="          Add a city...">
            </form>
            <%#= form_for @city, url: cities_path do |f| %>
              <%#= f.text_field :name, placeholder: "          Add a city..." %>
            <%# end %>
        </center>
      </div>
    <% else %>
      <div id="invalid_city" style="color:white"></div>
      <form class="login" onsubmit="return submit_new_city();">
        <input type="text" id="new-city" placeholder="          Add a city...">
      </form>
      <%#= form_for @city, url: cities_path, html: {:class => 'login'} do |f| %>
        <%#= f.text_field :name, placeholder: "          Add a city..." %>
      <%# end %>
    <% end %> 
  </div>
</center>

