<center>
<div class="head-container" id="top">
<!-- <div id="top"> -->

<div class="clock-title">
  <h1>worldview</h1>
  <h6>Click a clock.</h6>
</div>
  
<div class="row clock-row">
  <div id="clock-container">

    <div class="initial1-clock col-md-2 clock" data-city="initial">
   
    </div>
    <div class="initial2-clock col-md-2 clock" data-city="initial">
      
    </div>
    <div class="initial3-clock col-md-2 clock" data-city="initial">
     
    </div> 
    <div class="initial4-clock col-md-2 clock" data-city="initial">
     
    </div> 
    <div class="initial5-clock col-md-2 clock" data-city="initial">
     
    </div>  

    <% unless logged_in? %> 
      <div class="login">
        <center>
          <div id="invalid_city" style="color:white">&nbsp;</div>
          <form onsubmit="return submit_new_city();">
            <input type="text" id="new-city" placeholder="Add a city...">
          </form>
          <!-- <a href="#"><img src="/assets/shim.png" id="login-shim"></a> -->
          <%= link_to image_tag('shim.png', id: 'login-shim'), twitter_login_path %>
          <p>
            <%= link_to image_tag('twitter.png', height: '20px', width: '20px'), twitter_login_path %><br>
            <%= link_to 'Login with Twitter', twitter_login_path %>
          </p><br><br>
            

        </center>
      </div>
    <% else %>
      <div class="login" id="invalid_city" style="color:white">&nbsp;</div>
      <form onsubmit="return submit_new_city();">
        <input type="text" id="new-city" placeholder="Add a city...">
      </form>
    <% end %> 
  </div>
</center>


