<footer>
  <center><p>&copy; <a href="#top">worldview</a> 2014 | Built with &hearts; by <a href="http://www.twitter.com/ewarren7" target="_blank">Edward Warren</a>, <a href="http://www.twitter.com/ambertunnell" target="_blank">Amber Tunnell</a>, <a href="http://www.twitter.com/korenlc" target="_blank">Koren Leslie Cohen</a> &amp; <a href="http://www.twitter.com/benserviss" target="_blank">Ben Serviss</a></p></center>
</footer>  

