<a href="#more" >Read more.</a>

<div id="more">
  <div class="modal-box">
    <a id="dashboard-xlink" href="#" title="Close" class="close">X</a>
    <div class="modal-text">

      <center><h4>The Magic in the Making</h4></center>
 
 
    </div>
  </div>
</div>  