<div class="container">
<nav>
<div class="navbar navbar-default">
  <div class="navbar-inner">
    <div class="navbar-header">
      <a class="navbar-brand" href="">worldview</a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse navbar-responsive-collapse"> 
      <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
          <li><a><input type="text" name="country" id="autocomplete" placeholder="Enter a city..."></a></li>
            <li><%= render 'layouts/dashboard' %> </li>

            <li><%= link_to 'Log Out', logout_path %></li>

          <% else %>
            <li><%= link_to 'Log In with Twitter', twitter_login_path %></li>
          <% end %> 
      </ul>
    </div>
    </div>
  </div>
</div>
</nav>
</div>
