<a id="dashboard-link" href="#dashboard">My Profile</a>

<div id="dashboard">
  <div class="modal-box">
    <a id="dashboard-xlink" href="" title="Close" class="close">X</a>
    <div class="modal-text">

      <h3>Personal Dashboard</h3>

      <h4>Favorited Articles</h4>
      <ul class="dashboard-articles">
      </ul>

      <h4>Favorited Photos</h4>
      <ul class="dashboard-photos">
      </ul>

      <h4>Favorited Tweets</h4>
      <ul class="dashboard-tweets">
      </ul>

    </div>
  </div>
</div>      
